.sidepanel {
    width: 125px;
    margin-top: 0px;
    float: left;
}

.content {
    margin-left: 125px;
}

.hidden {
    display: none;
}

div.nested {
   margin-top: 50px;
}

.nested h2 {
   margin-left: 50px;
}

.nested h3 {
   margin-left: 100px;
}